$black: #5f5f5f;
$blue: #2196f3;
$red: #ff3f3f;

.btn {
    border: 2px solid #5f5f5f;
    background-color: rgb(255, 255, 255);
    color: #f9f9f9;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    
}

.btn-info {
    border-color: $blue;
    color: dodgerblue;
    border-radius: 4px;

    &:hover {
        background: $blue;
        color: #f9f9f9;
    }
}

.btn-danger {
    border-color: $red;
    color: $red;
    border-radius: 4px;

    &:hover {
        background: $red;
        color: #f9f9f9;
    }
}

.title {
    color: $red;
}